<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .toolbar{
            background-color: #42FFFF;
            display:flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div class = toolbar>
        <h1>태현's 게시판</h1>
        <a href="{% url 'posts:create' %}"><button>새 글 작성하기!</button></a>
    </div>
    
</body>
</html>

{% block content %}


{% endblock %}