{% extends 'posts/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for post in posts %}
    <div>제목: {{ post.title }}</div>
    <div>글쓴이: {{ post.writer }}</div>
    <div>내용: {{ post.content }}</div>
    <a href="{% url 'posts:update' post.id %}"><button>수정하기</button></a>
    <a href="{% url 'posts:delete' post.id %}"><button>삭제하기</button></a>
    <a href="{% url 'posts:detail' post.id %}"><button>상세보기</button></a>
    <br>
    {% endfor %}
</body>
</html>
{% endblock %}
